p {
  font-size: 2rem;
}

.container {
  width: 480px;
  margin: 0 auto;
}

.flex {
  display: flex;
  margin: 2rem;
}

.center {
  justify-content: center;
  align-items: baseline;
}

.middle {
  justify-content: space-around;
}
