<div class="message message-container" [ngClass]="{'show': show, 'message-fail': messageFail, 'message-success': messageSuccess}">
	{{ message }}
</div>

<div class="flex flex-top">
	<button 
		class="btn btn-blue" 
		[ngClass]="{'isActive': classList.blue }" 
		(click)="handleClick('blue')"></button>
</div>


<div class="flex flex-mid">
	<button 
		class="btn btn-green" 
		[ngClass]="{'isActive': classList.green }" 
		(click)="handleClick('green')"></button>
	<h2 class="count">{{ count }}</h2>
	<button 
		class="btn btn-red" 
		[ngClass]="{'isActive': classList.red }" 
		(click)="handleClick('red')"></button>
</div>

<div class="flex flex-bottom">
	<button 
		class="btn btn-yellow" 
		[ngClass]="{'isActive': classList.yellow }" 
		(click)="handleClick('yellow')"></button>
</div>

<div class="flex flex-bottom">
	<button class="btn btn-restart" (click)="restart()">Restart</button>
</div>