:root {
  --black: #071013;
  --green: #29bf12;
  --blue: #08bdbd;
  --red: #f21b3f;
  --yellow: #ff9915;
}

@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  background-color: var(--black);
  color: white;
  font-family: 'Muli', sans-serif;
}
